* {
	--font-family: 'Vazirmatn', sans-serif;
	--color-text: #000000;
	--color-accent: #008cc1;
	--color-foreground: #d9d9d9;
	--color-background: #224654;

	font-family: var(--font-family);

	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-track {
		border-radius: 10px;
		background: var(--color-background);
	}
	::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background: var(--color-foreground);
	}
}

html,
body {
	display: flex;
	flex-direction: column;
	height: 100%;

	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
